.menuStyle {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}

.link.active {
  color: red;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
  color: red;
}
